body {
  height: 100vh;
  background-color: #aaaaaa;

  *{
    box-sizing: border-box;
  }
}

.container {
  display: flex;
  width: 70vw;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.playground {
  display: grid;
  grid-template-columns: repeat(5,1fr);
  grid-auto-rows: repeat(5,1fr);
  gap: 4px;
  border: 1px dashed #000;
  margin: 25px;
  background-color: rgb(199, 199, 199);
}

img{
  min-width: 50px;
  min-height: 50px;
  width: 15vh;
  height: 15vh;
  border-radius: 4px;
  padding: 3px;
  object-fit: contain;
}
.playground img {
  background-color: rgb(255, 255, 255);
  user-select: none;
}
.guess-img {
  border: 2px solid rgb(88, 163, 78);
  background-color: rgb(194, 252, 182);
  width: 85px;
  height: 85px;
  padding: 3px;
}

.btn {
  margin: 10px;
}

.btn.drop-game {
  width: 190px;
}

.control-panel {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 768px) {
	.container {
    width: 98vw;
    flex-direction: column-reverse;
  }
}

@media (max-width: 470px) {
	img {
    width: 100px;
    height: 100px;
  }

  .playground {
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: repeat(9,1fr);
  }
}


